.img:hover{
    transform: scale(1.1);
    transition: all 0.2s ease-out;
}


.blanc{
    background-color: white !important;
    height: 90%;
    border-radius: 10px;
  }

.bac{
    padding-bottom: 90px;}